<html>
<head>
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'gamehendge/styling.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<h3>Divided Sky v0.0.0</h3>
	<button onClick=buildTower(map)> Build Tower </button>
<div id="map"></div>
<!-- Replace the value of the key parameter with your own API key. -->

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEEyNDsD9uaj2k2B07mtt_yEbDeuMVM84&callback=initMap">
</script>


<script type="text/javascript" 
src="{% static 'gamehendge/mapdisplay.js' %}">
</script>


</body>
</html>