<html>
<head>
{% load static %}
    
    <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" type="text/css" href="{% static 'gamehendge/styling.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gamehendge/skeleton.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gamehendge/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gamehendge/style.css' %}">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    

    
    <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Divided sky, the wind blows high!</title>
    
</head>
<body>
  
    <header role="banner">
         {% if user.is_authenticated %}
         <div id="cd-logo"> <h2 class="title" style="color:white;">Logged in</h2></div>

         {% else %}
        <div id="cd-logo"> <h2 class="title" style="color:white;">Divided Sky V0.0.0</h2></div>

        {% endif %}
		<nav class="main-nav">
           
        {% if user.is_authenticated %}
<!--        You are currently logged in.-->
        <h4 id="energy"> Energy: {{energy}} </h4>
            <ul>
                <button onClick=buildTower(map)> Build Tower </button>
			</ul>
        {% else %}
            <ul>
				<li><a class="cd-signin" href="#0">Sign in</a></li>
				<li><a class="cd-signup" href="#0">Sign up</a></li>
			</ul>
        {% endif %}
 
		</nav>
	</header>
       
        <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="#0">Sign in</a></li>
				<li><a href="#0">New account</a></li>
			</ul>

			<div id="cd-login"> <!-- log in form -->
				<form method="post" action="{% url 'login' %}" class="cd-form">
                    {% csrf_token %}
					<p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">Username</label>
						<input class="full-width has-padding has-border" id="signin-email" type="username" placeholder="Username">
						<span class="cd-error-message">Error!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">Password</label>
						<input class="full-width has-padding has-border" id="signin-password" type="password"  placeholder="Password">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Error!</span>
					</p>

<!--
					<p class="fieldset">
						<input type="checkbox" id="remember-me" checked>
						<label for="remember-me">Remember me</label>
					</p>
-->
					<p class="fieldset">
						<input class="full-width" type="submit" value="Login">
                        <input type="hidden" name="next" value="/accounts/login" />
					</p>
                    
				</form>
				
				<p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-login -->

			<div id="cd-signup"> <!-- sign up form -->
				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">Username</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">Password</label>
						<input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Password">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input type="checkbox" id="accept-terms">
						<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Create account">
					</p>
				</form>

				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-signup -->

			<div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Reset password">
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
			</div> <!-- cd-reset-password -->
			<a href="#0" class="cd-close-form">Close</a>
		</div> <!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->

    
<div id="map"> ...
</div>

        <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEEyNDsD9uaj2k2B07mtt_yEbDeuMVM84">
        </script>

        <script type="text/javascript"
        src="{% static 'gamehendge/js.cookie.js' %}">
        </script>

        <script type="text/javascript" 
        src="{% static 'gamehendge/mapdisplay.js' %}">
        </script>
        
        <script type="text/javascript"
        src="{% static 'gamehendge/index.js' %}">
        </script>

</body>
</html>